@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

/* HTML */
html {
	font-size:10.7px;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
}

/* LANGUAGE */

.kr {
	font-family: 'Jeju Myeongjo', serif;
}

.kr.goong {
	font-family: '궁서', serif;
}

.container {
	max-width:1280px;
	padding:0;
}

body {
	font-family: "Playfair Display", "Times New Roman", serif;
}

/* HEADER */

header {
	position:absolute;
	width:100%;
	z-index:9999;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.15), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}



/* LOGO */

header .logo {
	position:absolute;
	left:0;top:0;
	width:65px;
	height:65px;
	background-color: #2D2D2D;
	text-align:center;
	z-index:999;
}

header .logo p {
	display:none;
	position:absolute;
	font-size:0.72em;
	width:100%;
	top:70px;
	color:#EEEEEE;
	font-weight:normal;
	letter-spacing: 0.05em;
	padding-top:2px;
	transition:all 0.4s;
}

@media (min-width: 400px) {
	header .logo {
		width:110px;
		height:100px;
	}

	header .logo p {
		display:block;
	}

	header .logo img {
		margin-top:4px;
	}
}

@media (min-width: 1000px) {
	
	header:hover .logo img {
		transform:translateY(15px);
	}

	header:hover .logo p {
		top:90px;
	}

	header:hover nav {
		background-color: #2D2D2D;
		height:180px;
	}

	header:hover nav .mainNav {
		color:white;
		border-bottom:1px solid rgba(0,0,0,0.5);
	}

}



header .logo img {
	width:80%;
	margin-top:8px;
	transition: transform 0.4s;
}

/* NAVIGATION */

nav {
	background-color: #E8E8E8;
	background-color: white;
	overflow:hidden;
	height:65px;/*
	border-bottom: 1px solid #E8E8E8;*/
	/*height:50px;*/
	/*box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.15), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
}

header nav {
	transition: all 0.4s;
}

nav ul, nav .subNav .subNavContainer {
	width:100%;
	max-width:580px;
	margin:0 auto;	
/*	border:1px solid red;*/
}

nav .mainNav {
	height:65px;
	visibility:hidden;
	font-weight: bold;
}

nav .mobileNav {
	text-align: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #2D2D2D;	
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;	
}

nav .mobileNav.open {
	visibility: visible;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}




header nav .menuOpen, nav .mobileNav .menuClose{
	position:absolute;
	border:none;
	width:30px;
	height:30px;
	right:10%;
	top:15px;
	background: url(../imgs/menu_icon.png) no-repeat center center;
	background-size: contain;
	padding:5px;
}

nav .mobileNav .menuClose {
	position: relative;
	float:right;
	left:auto;
	top:20px;
	background: url(../imgs/menu_close.png) no-repeat center center;
	background-size: contain;
}

nav .mobileNav ul {
	clear:both;
	position: relative;
	top:40%;
	height:60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);	
}

nav .mobileNav ul li {
	display: block;
	height: 20%;/*
	height: calc(100% / 5);*/
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

nav .mobileNav ul li a {
	font-size: 2.3em;
	font-weight: 300;
	display: block;
	color: #C1B2A9;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

nav .mobileNav ul li a:hover,
nav .mobileNav ul li a:focus {
	color: #f0f0f0;
}

@media (min-width: 400px) {
	nav {
		height:45px;
	}
	nav .mainNav {
		height:auto;
	}

	header nav .menuOpen{
		width:20px;
		height:20px;
		top:10px;

	}	

}

@media (min-width: 1000px) {
	nav .mainNav {
		visibility:visible;
	}

	header nav .menuOpen {
		display: none;
	}

}

nav .mainNav li, nav .subNav .subNavContainer ul {
	display: inline-block;
	width:20%;
	margin:0;
	padding:0;
	text-align:center;
	margin-top:0.9em;margin-bottom:0.9em;
}

nav .mainNav, nav .subNav {
	font-size:0.8em;
	margin-top:0;
	padding-top:0;
	padding-bottom:2px;
	letter-spacing: 0.1em;
}

nav .subNav {
	margin-top:0;
	font-size: 0.75em;
	max-width:100%;
	background-color: #2D2D2D;
	color:white;
	font-family: 'Nanum Gothic', sans-serif;
}

nav .subNav .subNavContainer{
	border-top:1px solid rgba(255,255,255,0.1);
}

nav .subNav .subNavContainer ul {
	vertical-align: top;
	margin-top:0;
	padding-top:1em;
	color:#666666;
}

nav .subNav .subNavContainer ul:hover {

	border-top:1px solid white;
	color:#C1C1C1;
}

nav .subNav .subNavContainer ul li {
	list-style:none;
	margin-bottom:2px;
	cursor:pointer;
}

nav .subNav .subNavContainer ul li:hover {
	color:white;
}



/* MAIN */

main {
  position: relative;
  width: 100%;
  margin:0 auto;
  margin-top:-80px;
  padding-top: 10px;
  padding-bottom:10px;
  box-sizing: border-box; 
  background-color:white;

}

main.index {
	margin-top:0;
}


main .pwd {
	margin-left:1.5em;
	font-size:0.6em;
	letter-spacing: 0.05em;
	margin-top:6px;
	margin-bottom:11px;
}

main .pwd .arrow{
	display:inline-block;
	width:12px;
	margin:0 2px;
	vertical-align: -2px;
	height:12px;
	background: url("../imgs/arrow.svg") no-repeat;
}

@media (min-width: 400px) {

	main {
		width:95%;
	}

	main .pwd {
		font-size:0.8em;
		margin-top: 0;
		margin-bottom:-2px;
	}

	main .pwd .arrow{
		vertical-align: -1px;
		margin:0 7px;
	}

}

main hr {
	margin-top:13px;
	margin-bottom:13px;
}


/* JUMBOTRON */

.jumbo {
	position:relative;
	width:100%;
	height:300px;
	overflow:hidden;
	margin-bottom:-30px;
}

.jumbo img {
	position:relative;
	min-height:25%;
	z-index:-99;
	height:300px;
	/*transition:transform 0.5s;*/
	left:0;
	margin-left:0;
	-webkit-transform:translateY(0);
	   -moz-transform:-moz-translateY(0);
	        transform:translateY(0) translateX(-100px);
	-webkit-transform:translateX(-100px);
	   -moz-transform:-moz-translateX(-100px);
	        

}

@media (min-width: 400px) {

	.jumbo {
		height:500px;
	}

	.jumbo.index {
		height:700px;
	}

	.jumbo img {
		min-height:100%;
		height:auto;
		left:50%;
		margin-top:-100px;
		margin-left:-750px;	
		transform: translateY(-50px);		
	}


}

.jumbo .container {
/*	margin-top:100px;
	border:4px solid white;
	height:400px;*/

}




main {

}

main nav#subNav {
	word-wrap: break-word;
	height:auto;
}

/* ARTICLE */

main article {
	padding:0 20px;
	margin-top:5px;
	max-width:720px;
	overflow:hidden;
}

main article.index {
	max-width:100%;
}


main article h5 {
	color:#87786B;
	margin-top:30px;
	margin-bottom:15px;
	font-weight: bold;
	line-height:1.3em;
	padding-bottom:5px;
}

main article h4 {
	font-size:1.4em;
	margin-top:10px;
	padding-bottom:10px;
	margin-bottom:0;
}

main article h5.kr {
	font-family: 'Jeju Myeongjo', serif;
}

main article img {
	width:60%;
	border:4px solid #E8E8E8;
}

main article img.full {
	width:100%;
}

main article .icons {
	margin:50px 0;
	font-size:0.85em;
	font-family: 'Nanum Gothic', sans-serif;
}

main article .icons > div {
	background-color: #E8E8E8;
	padding:3px;
	text-align:center;
	color:#2D2D2D;
	margin-top:2px;
	margin-bottom: 2px;
	border-radius:5px;
	font-family:inherit;
	font-weight:bold;

}

main article .icons > div > div{
	background-color: white;
	width:70%;
	float:right;
	text-align:center;
	color:#2D2D2D;
	font-family:inherit;
	font-weight:normal;
	border-radius:5px;

}

main article .icons > div.one-half > div,main article .icons > div.twelve > div{
	width:100%;
	padding-top:10px;
	padding-bottom:10px;

}

main article .content {
	font-size:0.85em;
	line-height: 2em;
	letter-spacing: -0.01em;
	font-family: 'Nanum Gothic', sans-serif;
	margin-top:25px;
	margin-bottom:50px;
}

main article .gallery {
	margin-bottom:40px;
	width:100%;
	background: url(../imgs/loading.gif) center center no-repeat;
}


main article .gallery img {
	display:block;
	float:left;
	width:100%;
	opacity:0;
	transition:opacity 0.5s;
}

main article .gallery.loaded img {
	opacity:1;
}

main article .gallery img.thumb {
	width:25%;
	opacity:0.5;
	cursor:pointer;
}

main article .gallery img.thumb:hover {
	opacity:1;
}

main article .gallery img.thumb.selected {
	opacity:1;
}

main article .detail {
}

main article .column p, main article p.liHeader{
	text-align:center;
	border-bottom:1px solid #C1AC99;
	padding:10px 0;
	color:#87786B;
}

main article .column li, main article .columns li {
	border:1px solid #E8E8E8;
	text-align:center;
	list-style:none;
	padding:10px 20px;
	font-size: 0.8em;
	border-radius:5px;
	font-family: 'Nanum Gothic', sans-serif;
}

main article .column li.special, main article .columns li.special  {
	background-color: #E8E8E8;
}

main article .column li.price, main article .columns li.price {
	background-color: #9E8754;
	color:white;
	font-size:1em;
	font-weight: bold;
}

main article .image {
}

nav .info {
	width:100%;
	font-size:0.9em;
	margin-right:auto;
	margin-left:auto;/*
	background-color: #E8E8E8;*/
	border-right:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
	margin-bottom:20px;
	padding-left: 20px;
}

nav .info .midMenu {
	font-weight: bold;
	text-align:left;
	letter-spacing: 0.07em;
	/*background-color: #87786B;
	background-color: #2D2D2D;*/
	padding-top: 12px;
	color:white;
	color:#2D2D2D;
	font-size: 1.2em;
	padding-bottom: 0;	
}

nav .info ul {
	color:#87786B;
	font-size:0.8em;
	margin:25px 0;
}

nav .info ul li {
	color:#2D2D2D;
	font-size:1.2em;
	list-style:none;
	margin:4px 0;
	margin-left:12px;
	padding-left:0;
	cursor:pointer;
}

nav .info ul li:hover {
	font-weight:bold;
	/*border-left:2px solid #2D2D2D;*/
}


nav .info ul li.selected {
	font-weight: bold;
	list-style-type:disc;
	cursor:default;
}




/* FOOTER */

footer {
	border-top:1px solid #E8E8E8;
	margin-top:50px;
	background-color: #87786B;
	height:auto;
	font-size: 0.75em;
	color:#C1B2A9;
	overflow:hidden;
	padding:10px 20px;
}

footer.index {
	margin-top:0;
}

footer .logo {
	margin-top:40px;
	overflow:hidden;
	text-align: center;
}

footer .logo p {
	margin-top:-10px;
}

footer .logo img {
	margin-top:-10px;
	width:100%;
	height:100%;
	max-width:150px;
	position:relative;

}

footer .logo p.phone {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom:5px;
	border:1px solid #C1B2A9;
	border-radius: 5px;
}

footer br {
	display:block;
}

footer .info {
	margin-top:30px;
}

footer .info .row {
}

footer .link {
	color: #C1B2A9;
	margin-top:13px;
	margin-bottom:13px;
	font-size:1em;
	padding:2px 0;
	text-align: center;
	border-bottom:1px solid #C1B2A9;
	font-weight: bold;
	transition: padding 0.3s ;
	cursor: pointer;
	font-family: 'Nanum Gothic', sans-serif;
}

footer .link:hover {
	color: white;
	border-color:white;
	padding-bottom:5px;
}

footer .info p {
	color: #C1B2A9;
	margin-top:20px;
}

@media (min-width: 950px) {

	
	main article h5 {	
	}
	
	footer {
		padding-top:25px;
		height:220px;
	}

	footer .logo {
		margin-top:35px;
	}

	footer .logo img {
		max-width:200px;

	}

	footer .link {
		text-align:left;
		border-bottom:none;
		padding-left:10px;
		border-left:2px solid #C1B2A9;
	}

	footer .link:hover {
		padding-left:5px;
		padding-bottom:2px;
	}

}

/* MISC */

main article hr {
	margin-top:50px;
	margin-bottom:50px;
}

p.description {
/*	font-family: '바탕', serif;
	font-weight:bold;*//*
	font-style:italic;
	background-color: #87786B;*/
	line-height:1.2em;
	font-size:1.1em;
	padding-left:20px;
	color:#2D2D2D;
	margin-top:10px;
	margin-bottom:50px;
	width:auto;
	border-left:3px solid #2D2D2D;
}



br {
	display:none;
}

br.all{
	display:block;
}
.alignRight {
	position:relative;
	margin:0 auto;
	margin-right:0;
	width:50%;
	text-align:right;
}

a {
	text-decoration: none;
	color:inherit;
}

.subway img, .bus img {
	display:inline-block;
	width:20px;
	vertical-align:-6px;
	margin-right:3px;
	border:none;
}

.clearboth {
	clear:both;
}

.clearright {
	clear:right;
}

li.button {
	width:100%;
	transition:all 0.3s;
	background-color: white;
	height:50px;
}

li.button a {
	text-decoration: none;
	display: block;
	height:150%;
	width:100%;
	margin-top:-5px;
}

li.button a:hover {
	text-decoration: none;
	color:inherit;
}

li.button:hover {
	background-color: #2D2D2D;
	color:white;
}

/* IMAGES */

main article .about1, main article .about3 {
	float:right;
	margin-left:10px;
	margin-bottom:10px;
}

main article .about2, main article .about4, main article .about5 {
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

main article .about1, main article .about2 {
	margin-top:15px;
}

main article .about3 {
	width:40%;
	margin-top:5px;
}

main article .about4 {
	width:25%;
}

main article .about5 {
	width:60%;
	margin-top:5px;
}

/* Larger than tablet */
@media (min-width: 950px) {

	main article .about1, main article .about3 {
		margin-left:30px;
		margin-bottom:30px;
	}

	main article .about2, main article .about4, main article .about5 {
		margin-right:30px;
		margin-bottom:30px;
	}

}

/*main article .address, main article .subway, main article .bus {
	font-size:1.1em;
	letter-spacing:0.05em;
}*/

/*main article.intro p.content {
	font-size:1.1em;
}*/

/* MEDIA QUERIES */
/* Larger than mobile */
@media (min-width: 400px) {

	main {
		border-radius:10px;	
	}


}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

	nav .info {
		border-bottom:none;
	}
	nav .info .midMenu {
		border-bottom:1px solid #E1E1E1;
		padding-bottom: 15px;
	}

	main hr {
		margin-bottom:30px;
	}

	main article img {
		width:50%;
	}

	br.w550 {
		display: block;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {

	br.w750 {
		display: block;
	}

}

/* Larger than tablet */
@media (min-width: 950px) {

	main nav .info {
		width:80%;
	}
	main nav#subNav {
		width:22%;
	}

}

/* Larger than desktop */
@media (min-width: 1000px) {



}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	nav ul, nav .subNav .subNavContainer {
		max-width:800px;
	}	

	br.w1200 {
		display: block;
	}
}

/* Larger than JUMBOTRON */
@media (min-width: 1500px) {
	.jumbo img{
		width:100%;
		left:0;
		margin-left:0;
		transform: translateY(-100px);
	}
}

/* Larger than FHD */
@media (min-width: 1920px) {
	.jumbo img{
		transform: translateY(-180px);
	}
}
