@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* HTML */
html {
	font-size:10px;
}

/* LANGUAGE */

.kr {
	font-family: 'Nanum Gothic', sans-serif;
}

.container {
	max-width: 1280px;
	padding:0;
}

/* HEADER */

header {
	position:fixed;
	width:100%;
	z-index:9999;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.15), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}



/* LOGO */

header .logo {
	position:absolute;
	left:0;top:0;
	width:65px;
	height:65px;
	background-color: #2D2D2D;
	text-align:center;
	z-index:999;
}

header .logo p {
	display:none;
	position:absolute;
	font-size:0.8em;
	width:120%;
	top:90px;
	left:-8px;
	color:black;
	letter-spacing:0.1em;
	transition:all 0.4s;
}

@media (min-width: 400px) {
	header .logo {
		width:85px;
		height:85px;
	}

	header .logo p {
		display:block;
	}
}

@media (min-width: 1000px) {
	
	header:hover .logo img {
		transform:translateY(15px);
	}

	header:hover .logo p {
		top:85px;
		color:white;
	}

	header:hover nav {
		background-color: #2D2D2D;
		height:170px;
	}

	header:hover nav .mainNav {
		color:white;
		border-bottom:1px solid rgba(0,0,0,0.5);
	}

}





header .logo img {
	width:90%;
	margin-top:8px;
	transition: transform 0.4s;
}

/* NAVIGATION */

nav {
	background-color: #E8E8E8;
	background-color: white;
	overflow:hidden;
	height:65px;/*
	border-bottom: 1px solid #E8E8E8;*/
	/*height:50px;*/
	/*box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.15), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
	transition: all 0.4s;
}

nav ul, nav .subNav .subNavContainer {
	width:100%;
	max-width:580px;
	margin:0 auto;	
/*	border:1px solid red;*/
}

nav .mainNav {
	height:65px;
	visibility:hidden;
}

@media (min-width: 400px) {
	nav {
		height:45px;
	}
	nav .mainNav {
		height:auto;
	}

}

@media (min-width: 1000px) {
	nav .mainNav {
		visibility:visible;
	}

}

nav .mainNav li, nav .subNav .subNavContainer ul {
	display: inline-block;
	width:20%;
	margin:0;
	padding:0;
	text-align:center;
	margin-top:1em;margin-bottom:1em;
}

nav .mainNav, nav .subNav {
	font-size:0.7em;
	margin-top:4px;
	padding-bottom:4px;
	letter-spacing: 0.1em;
}

nav .subNav {
	margin-top:0;
	font-size: 0.7em;
	max-width:100%;
	background-color: #2D2D2D;
	color:white;
}

nav .subNav .subNavContainer{
	border-top:1px solid rgba(255,255,255,0.1);
}

nav .subNav .subNavContainer ul {
	vertical-align: top;
	margin-top:0;
	padding-top:1em;
	color:#666666;
}

nav .subNav .subNavContainer ul:hover {

	border-top:1px solid white;
	color:#C1C1C1;
}

nav .subNav .subNavContainer ul li {
	list-style:none;
	margin-bottom:7px;
	cursor:pointer;
}

nav .subNav .subNavContainer ul li:hover {
	color:white;
}



/* MAIN */

main {
  position: relative;
  width: 100%;
  margin:0 auto;
  margin-top:-80px;
  padding-top: 10px;
  padding-bottom:10px;
  box-sizing: border-box; 
  background-color:white;

}

main .pwd {
	margin-left:1.5em;
	font-size:0.6em;
	letter-spacing: 0.05em;
	margin-top:6px;
	margin-bottom:11px;
}

main .pwd .arrow{
	display:inline-block;
	width:12px;
	margin:0 2px;
	vertical-align: -2px;
	height:12px;
	background: url("../imgs/arrow.svg") no-repeat;
}

@media (min-width: 400px) {

	main {
		width:95%;
	}

	main .pwd {
		font-size:0.8em;
		margin-top: 2px;
		margin-bottom:0;
	}

	main .pwd .arrow{
		vertical-align: -1px;
		margin:0 7px;
	}

}

main hr {
	margin-top:13px;
	margin-bottom:13px;
}


/* JUMBOTRON */

.jumbo {
	position:relative;
	width:100%;
	height:300px;
	overflow:hidden;
	margin-bottom:-30px;
}

.jumbo img {
	position:relative;
	min-height:25%;
	z-index:-99;
	height:300px;
	transition:transform 0.5s;
	left:0;
	margin-left:0;
	-webkit-transform:translateY(0);
	   -moz-transform:-moz-translateY(0);
	        transform:translateY(0) translateX(-100px);
	-webkit-transform:translateX(-100px);
	   -moz-transform:-moz-translateX(-100px);
	        

}

@media (min-width: 400px) {

	.jumbo {
		height:600px;
	}

	.jumbo img {
		min-height:100%;
		height:auto;
		left:50%;
		margin-left:-750px;	
		transform: translateY(-50px);		
	}


}

.jumbo .container {
/*	margin-top:100px;
	border:4px solid white;
	height:400px;*/

}




main {

}

main nav#subNav {
	word-wrap: break-word;
	height:auto;
}

/* ARTICLE */

main article {
	padding:0 20px;
	margin-top:5px;
}

main article img {
	width:100%;
}

main article .icons {
	margin:50px 0;
	font-size:0.8em;

}

main article .icons > div {
	background-color: #E8E8E8;
	height:25px;/*
	max-width:150px;*/
	padding:3px;
	text-align:center;
	color:#87786B;
	margin-top:2px;
	margin-bottom: 2px;

}

main article .icons > div > div{
	background-color: white;
	width:70%;
	float:right;
	text-align:center;
	color:#2D2D2D;

}

main article .content {
	font-size:0.9em;
	line-height: 2em
}

main article .gallery {
	margin-bottom:40px;
}

main article .detail {
}

main article .column p {
	text-align:center;
	border-bottom:1px solid #C1AC99;
	padding:10px 0;
	color:#87786B;
}

main article .column li {
	border:1px solid #E8E8E8;
	text-align:center;
	list-style:none;
	padding:10px 0;
	font-size: 0.8em;
}

nav .info {
	width:100%;
	font-size:0.9em;
	margin-right:auto;
	margin-left:auto;/*
	background-color: #E8E8E8;*/
	border-right:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
	margin-bottom:20px;
	padding-left: 20px;
}

nav .info .midMenu {
	font-weight: bold;
	text-align:left;
	letter-spacing: 0.07em;
	/*background-color: #87786B;
	background-color: #2D2D2D;*/
	padding-top: 12px;
	color:white;
	color:#2D2D2D;
	font-size: 1.2em;
	padding-bottom: 0;	
}

nav .info ul {
	color:#87786B;
	font-size:0.8em;
	margin:25px 0;
}

nav .info ul li {
	color:#2D2D2D;
	font-size:1.2em;
	list-style:none;
	margin:3px 0;
	margin-left:20px;
}




/* FOOTER */

footer {
	margin-top:50px;
	background-color: #87786B;
	height:auto;
	font-size: 0.75em;
	color:white;
	overflow:hidden;
	padding:10px 20px;
}

footer .logo {
	margin-top:60px;
	overflow:hidden;
	height:60px;
	text-align: center;
}

footer .logo p {
	margin-top:-10px;
}

footer .logo img {
	max-width:100px;
	position:relative;

}

footer br {
	display:block;
}

footer .info {
	margin-top:30px;
}

footer .info .row {
}

footer .link {
	color: #CCC2BC;
	margin-top:13px;
	margin-bottom:13px;
	font-size:1em;
	padding:2px 0;
	text-align: center;
	border-bottom:1px solid #CCC2BC;
	font-weight: bold;
	transition: padding 0.3s ;
	cursor: pointer;
}

footer .link:hover {
	color: white;
	border-color:white;
	padding-bottom:5px;
}

footer .info p {
	color: #CCC2BC;
	margin-top:20px;
}

@media (min-width: 550px) {

	footer {
		padding-top:25px;
		height:220px;
	}

	footer .logo {
		margin-top:35px;
	}

	footer .logo img {
		max-width:125px;

	}

	footer .link {
		text-align:left;
		border-bottom:none;
		padding-left:10px;
		border-left:2px solid #CCC2BC;
	}

	footer .link:hover {
		padding-left:5px;
		padding-bottom:2px;
	}

}

/* MISC */

hr {

}



p.description {
	color: #87786B;
	font-size:1.2em;
}

nav ul li.selected {
	font-weight: bold;
	list-style-type:disc;
}

br {
	display:none;
}



/* MEDIA QUERIES */
/* Larger than mobile */
@media (min-width: 400px) {

	main {
		border-radius:10px;	
	}


}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

	nav .info {
		border-bottom:none;
	}
	nav .info .midMenu {
		border-bottom:1px solid #E1E1E1;
		padding-bottom: 20px;
	}

	

	

	main hr {
		margin-bottom:30px;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {


}

/* Larger than tablet */
@media (min-width: 900px) {

	main nav .info {
		width:80%;
	}
	main nav#subNav {
		width:22%;
	}

}

/* Larger than desktop */
@media (min-width: 1000px) {



}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	nav ul, nav .subNav .subNavContainer {
		max-width:800px;
	}	

	br.w1200 {
		display: block;
	}
}

/* Larger than JUMBOTRON */
@media (min-width: 1500px) {
	.jumbo img{
		width:100%;
		left:0;
		margin-left:0;
		transform: translateY(-100px);
	}
}

/* Larger than FHD */
@media (min-width: 1920px) {
	.jumbo img{
		transform: translateY(-180px);
	}
}
